{%- assign item = section.settings -%}
<div class="">
  <div class="" style="background: {{ item.bg_color }};">
    <a href="{{ item.url_for_banner }}" class="">
      {% if item.image_for_banner_desctop != blank %}<img src="{{ item.image_for_banner_desctop | img_url: '1024x' }}" alt="{{ item.image_for_banner_desctop.alt }}">{% endif %}
    </a>
  </div>
</div>


{% schema %}
  {
    "name": "Баннераная система",
    "settings": [
      {
        "type": "header",
        "content": "Баннера для категорий"
      },
      {
        "type": "collection",
        "id": "collection_for_banner",
        "info": "Выберите категорию для баннера",
        "label": "Категория"
      },
      {
        "type": "url",
        "id": "url_for_banner",
        "info": "Выберите ссылку для баннера",
        "label": "Ссылка , на которую перейдет клиент при клике"
      },
      {
        "type": "image_picker",
        "id": "image_for_banner_desctop",
        "info": "Выберите картинку для баннера(версия для компьютеров)",
        "label": "Картинка(компьютер)"
      },
      {
        "type": "image_picker",
        "id": "image_for_banner_mobile",
        "info": "Выберите картинку для баннера(версия для телефонов)",
        "label": "Картинка(телефон)"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
