{% layout none %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Telegram: Contact @allgds</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="All Goods интернет магазин оптовой торговли">
  <meta property="og:image" content="https://cdn4.telesco.pe/file/u2AHqF3ScRBybeED7XsjkIJYs6DgVqUyvq4HTH8TPx3GzXXhgkE-QMm737mz9zXXA_Ol0bSxnC4WFx_BMOPk-o59T1GFz2QO1S4Ye3eeYU1PNefSaQ0KSYR_4MGc4LTiNSVjnLmBeTD6pA5UfnjOybij0pZ_qG_xw_8IMNk8qnc-px_UT9uhXU_jVaDt5YutjbRSHwEMOND0c4oEz-HnGlzvffCeo9PhzBz9A_MlM6OKH5g7DIufaXkjna2gpijBbvwGe8vYb3huuDuXY1ni495VXmBOUTj_jO59H7wSvZcFAFo7I_vObpG8706ipcYLJ7L4nXGOse0u3DbX8IxECQ.jpg">
  <meta property="og:site_name" content="Telegram">
  <meta property="og:description" content="Интернет магазин оптовой торговли. Товары из Китая под заказ, и на складе в Москве.">

  <meta property="twitter:title" content="All Goods интернет магазин оптовой торговли">
  <meta property="twitter:image" content="https://cdn4.telesco.pe/file/u2AHqF3ScRBybeED7XsjkIJYs6DgVqUyvq4HTH8TPx3GzXXhgkE-QMm737mz9zXXA_Ol0bSxnC4WFx_BMOPk-o59T1GFz2QO1S4Ye3eeYU1PNefSaQ0KSYR_4MGc4LTiNSVjnLmBeTD6pA5UfnjOybij0pZ_qG_xw_8IMNk8qnc-px_UT9uhXU_jVaDt5YutjbRSHwEMOND0c4oEz-HnGlzvffCeo9PhzBz9A_MlM6OKH5g7DIufaXkjna2gpijBbvwGe8vYb3huuDuXY1ni495VXmBOUTj_jO59H7wSvZcFAFo7I_vObpG8706ipcYLJ7L4nXGOse0u3DbX8IxECQ.jpg">
  <meta property="twitter:site" content="@Telegram">

  <meta property="al:ios:app_store_id" content="686449807">
  <meta property="al:ios:app_name" content="Telegram Messenger">
  <meta property="al:ios:url" content="tg://resolve?domain=allgds">

  <meta property="al:android:url" content="tg://resolve?domain=allgds">
  <meta property="al:android:app_name" content="Telegram">
  <meta property="al:android:package" content="org.telegram.messenger">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Telegram">
  <meta name="twitter:description" content="Интернет магазин оптовой торговли. Товары из Китая под заказ, и на складе в Москве.
  ">
  <meta name="twitter:app:name:iphone" content="Telegram Messenger">
  <meta name="twitter:app:id:iphone" content="686449807">
  <meta name="twitter:app:url:iphone" content="tg://resolve?domain=allgds">
  <meta name="twitter:app:name:ipad" content="Telegram Messenger">
  <meta name="twitter:app:id:ipad" content="686449807">
  <meta name="twitter:app:url:ipad" content="tg://resolve?domain=allgds">
  <meta name="twitter:app:name:googleplay" content="Telegram">
  <meta name="twitter:app:id:googleplay" content="org.telegram.messenger">
  <meta name="twitter:app:url:googleplay" content="https://t.me/allgds">

  <meta name="apple-itunes-app" content="app-id=686449807, app-argument: tg://resolve?domain=allgds">
  <link rel="shortcut icon" href="https://telegram.org/favicon.ico?3" type="image/x-icon">
  <link href={{ 'main.telegram.css' | asset_url }} rel="stylesheet" type="text/css">
  <!--link href="/css/myriad.css" rel="stylesheet"-->
  <link href={{ 'bootstrap.telegram.min.css' | asset_url }} rel="stylesheet">
  <link href={{ 'telegram.css' | asset_url }} rel="stylesheet" media="screen">
  {% comment %} here comment {% endcomment %}
</head>
<body data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">
  <div class="tgme_page_wrap">
    <div class="tgme_head_wrap">
      <div class="tgme_head">
        <a href="https://telegram.org/" class="tgme_head_brand">
          <i class="tgme_logo"></i>
        </a>
      </div>
    </div>
    <a class="tgme_head_dl_button" href="https://telegram.org/dl?tme=ac3cfc3193810fe09c_6403920016831568810">
      Don't have <strong>Telegram</strong> yet? Try it now!<i class="tgme_icon_arrow"></i>
    </a>
    <div class="tgme_page tgme_page_post">
      <div class="tgme_page_photo">
        <a href="tg://resolve?domain=allgds">
          <img class="tgme_page_photo_image" src={{ 'logo.jpg' | asset_url }}>
        </a>
      </div>
      <div class="tgme_page_title" dir="auto">
        <span dir="auto">All Goods интернет магазин оптовой торговли</span>
      </div>
      <div class="tgme_page_extra"></div> <!--16 subscribers-->
      <div class="tgme_page_description" dir="auto">Интернет магазин оптовой торговли. Товары из Китая под заказ, и на складе в Москве .</div>
      <div class="tgme_page_action">
        <a class="tgme_action_button_new" href="tg://resolve?domain=allgds">View in Telegram</a>
      </div>
      <!-- WEBOGRAM_BTN -->
      <div class="tgme_page_action tgme_page_context_action">
        <div class="tgme_page_context_btn">
          <a class="tgme_action_button_new" href="tg://resolve?domain=allgds">
            <span class="tgme_action_button_label">Preview channel</span>
          </a>
        </div>
      </div>
      <div class="tgme_page_additional">
        If you have <strong>Telegram</strong>, you can view and join <br><strong>All goods</strong> right away.
      </div>
    </div>
  </div>

  <div id="tgme_frame_cont"></div>

  <script type="text/javascript">
    var protoUrl = "tg:\/\/resolve?domain=allgds";
    if (false) {
      var iframeContEl = document.getElementById('tgme_frame_cont') || document.body;
      var iframeEl = document.createElement('iframe');
      iframeContEl.appendChild(iframeEl);
      var pageHidden = false;
      window.addEventListener('pagehide', function () {
        pageHidden = true;
      }, false);
      window.addEventListener('blur', function () {
        pageHidden = true;
      }, false);
      if (iframeEl !== null) {
        iframeEl.src = protoUrl;
      }
      !false && setTimeout(function() {
        if (!pageHidden) {
          window.location = protoUrl;
        }
      }, 2000);
    }
    else if (protoUrl) {
      setTimeout(function() {
        window.location = protoUrl;
      }, 100);
    }
  </script>
  <script></script>
</body></html>